@import "settings";
@import "foundation";

.container{
	padding: 20px 0;
}

.head{
	background-color: $ghost;
	border-bottom: 1px solid $vapor;
	padding: 60px 0 40px 0;
	h1{
		font-size: 2.2rem;
	}
	ul:last-of-type{
		padding: 0;
		margin: 0;
		li{
			list-style: none;
		}
	}
	.collapsed{
		display: none;
		border-top: 15px solid $iron;		
		position: fixed;
		width: 100%;
		top: 0;
		background-color: $gainsboro;
		z-index: 2;
		img, span{
			display: inline-block;
			max-height: 80px;
			vertical-align: middle;
			padding: 15px 0;
		}
		span{
			padding: 0 15px;
		}
		ul{
			display: block;
			text-align: right;
			li{
				display: inline-block;
				&:first-child{
					&:before{
						content: "";
					}
				}
				&:before{
						content: "|";
					}
				a{
					display: inline-block;
					vertical-align: middle;
					padding: 30px 10px;
				}
			}
			@media screen and (max-width: 620px){
				position: absolute;
				right: 0;
				background-color: $gainsboro;
				padding: 15px 0.9375rem 30px  0.9375rem;
				display: none;
				li{
					display: block;
					border-bottom: 1px dotted $iron;
					text-align: left;
					a{
						padding: 5px 0;
					}
					&:before{
						content: "";
					}
				}
			}
		}
		@media screen and (max-width: 620px){
			display: block;
			position: relative;
			&:after{
				content: "\f0c9";
				font-family: FontAwesome;
				color: $iron;
				font-size: 35px;
				position: absolute;
				right: 20px;
				top: 17px;
			}
			img{
				&:last-of-type{
					display: none;
				}
			}
			span{
				display: none;
			}
			&:hover{
				cursor: pointer;
			}
		}
	}
	img{
		@media screen and (max-width: 620px){
			max-width: 50%;
		}
	}
	@media screen and (max-width: 620px){
		padding-top: 0;
		padding-bottom: 0;
		.full{
			padding-top: 15px;
			ul:last-of-type{
				display: none;
			}
		}
	}
}
.steps{
	padding: 15px 0 0 0;
	.step{
		border-bottom: 10px solid $iron;
		position: relative;
		h2{
			font-size: 1.2rem;
			span{
				display: inline-block;
				@media screen and (max-width: 860px){
					display: none;
				}
			}
		}
		&.active:before{
			content: "";
			position: absolute;
			bottom: -20px;
			margin-left: -20px;
			left: 50%;
			width: 0; 
			height: 0; 
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid $iron;
		}
	}
}
.infoForm{
	button + a{
		margin-left: 30px;
	}
}
.reviewBody{
	padding: 30px 0;
	.header{
		background-color: $ghost;
		border-bottom: 1px solid $smoke;
		padding: 15px;
		h2{
			padding: 0;
			margin: 0;
			&:before{
				content: "+";
				margin: -4px 15px 0 0;
				float: left;
			}
		}
		a{
			float: right;
			margin-top: 20px;
		}
		&.open + .body{
			display: block;
		}
		&.open h2:before{
			content: "-";
			margin: -4px 15px 0 0;
			float: left;
		}
		&:hover{
			cursor: pointer;
		}
	}
	.body{
		padding: 30px 0;
		display: none;
		.table-head{
			background-color: #000;
			color: #fff;
			padding: 15px 0.9375rem;
		}
		.table-cell{
			background-color: $smoke;
			color: #fff;
			padding: 30px 0.9375rem;
			border: 1px solid $iron;
			border-top: none;
		}
		.table-cell + .table-cell{
			background-color: $ghost;
			border-left: none;
		}
	}
}
footer{
	clear: both;
	width: 100%;
	min-height: 1px;
}

//Miscelaneous
.disclaimer{
	color: $iron;
}
select.ng-valid, input.ng-valid{
	background-image: url('../img/check.svg') !important;
	background-repeat: no-repeat !important;
	background-size: 30px !important;
	background-position: right !important;
}
select.ng-touched.ng-invalid, input.ng-touched.ng-invalid{
	border-left: 4px solid $alert-color;
	background-image: url('../img/x.svg') !important;
	background-repeat: no-repeat !important;
	background-size: 30px !important;
	background-position: right !important;
}
.ng-invalid:not(.ng-pristine){
	select.ng-untouched.ng-invalid, input.ng-untouched.ng-invalid{
		border-left: 4px solid $alert-color;
		background-image: url('../img/x.svg') !important;
		background-repeat: no-repeat !important;
		background-size: 30px !important;
		background-position: right !important;
	}
}
select.ng-pristine, input.ng-pristine{
	//border-left: 1px solid #cccccc !important;
}
.errormsg{
	color: $alert-color;
	font-size: .9rem;
	margin: -10px 0 10px 0;
	padding: 0;
	a{
		text-decoration: underline;
		color: $alert-color;
		&:hover{
			color: darken($alert-color, 10%);
		}
	}
}
.errorSum{
	border-left: 4px solid $alert-color;
	border-right: 1px solid lighten($alert-color, 20%);
	border-top: 1px solid lighten($alert-color, 20%);
	border-bottom: 1px solid lighten($alert-color, 20%);
	background-color: lighten($alert-color, 40%);
	padding: 15px;
	margin-bottom: 30px;
	p{
		margin: 0;
	}
}
